.card {
  background-color: get-color('color-10');
  box-shadow: -25px 15px 50px 0 lighten(get-color('color-11'), 35%);
  box-sizing: border-box;
  padding: 30px 25px;

  &__header {
    @include respond-to('max-extra-medium') {
      background: linear-gradient(135deg,#1b1b1d,#404045 75%,#868fc6 0,#979fce);

      .thumbnail__description {
        margin-left: 0;
      }
    }

    @include respond-to('max-extra-small') {
      padding: 10px 10px 20px;
    }

    background: linear-gradient(120deg, get-color('color-9'), lighten(get-color('color-9'), 15%) 75%, get-color('color-4') 75%, lighten(get-color('color-4'), 5%));
    padding: 20px 20px 40px;
  }
}

.card-main {
  @include respond-to('max-extra-medium') {
    width: 95vw;
  }

  @include respond-to('max-extra-small') {
    margin: 0;
    padding: 5px 10px 20px 5px;
    width: 100vw;
  }

  margin: 5vh 0;
  min-height: 80vh;
  position: relative;
  width: 80vw;
}
