.thumbnail {
  &__image {
    @include respond-to('max-extra-medium') {
      margin: auto;
    }

    @include respond-to('max-extra-small') {
      max-width: 100%;
    }

    border-radius: 2px;
  }

  &__description {
    flex-grow: 1;
    margin-left: 30px;
  }
}
