h1,
h2 {
  font-family: get-font('fontType1');
}

h3,
h4 {
  font-family: get-font('fontType3');
  font-weight: bold;
}

h5,
h6,
p,
a,
span {
  font-family: get-font('fontType2');
}

h5,
h6 {
  font-weight: 600;
}

.is-size-1 {font-size: get-size('em-1')}
.is-size-2 {font-size: get-size('em-2')}
.is-size-3 {font-size: get-size('em-3')}
.is-size-4 {font-size: get-size('em-4')}
.is-size-5 {font-size: get-size('em-5')}
.is-size-6 {font-size: get-size('em-6')}
.is-size-7 {font-size: get-size('em-7')}

.is-color-1 {color: get-color('color-1')}
.is-color-2 {color: get-color('color-2')}
.is-color-3 {color: get-color('color-3')}
.is-color-4 {color: get-color('color-4')}
.is-color-5 {color: get-color('color-5')}
.is-color-6 {color: get-color('color-6')}
.is-color-7 {color: get-color('color-7')}
.is-color-8 {color: get-color('color-8')}
.is-color-9 {color: get-color('color-9')}
