.is-column-until-large {
  @include respond-to('min-large') {
    align-items: center;
  }

  @include respond-to('max-extra-medium') {
    flex-direction: column;
    text-align: center;
  }

  display: flex;
}

.is-row-reverse {
  flex-flow: row-reverse;
}
