$em-1: 1.8em;
$em-2: 1.6em;
$em-3: 1.4em;
$em-4: 1.2em;
$em-5: 1.0em;
$em-6: 0.8em;
$em-7: 0.6em;

$color-1: #6d5b97;
$color-2: #844981;
$color-3: #a9729c;
$color-4: #868fc6;
$color-5: #a28aaa;
$color-6: #a96483;
$color-7: #d57897;
$color-8: #f0a5c6;
$color-9: #1b1b1d;

$smokeColor: 'eb9ffc';

$fontType1: "Nothing You Could Do", cursive;
$fontType2: "Montserrat", sans-serif;
$fontType3: "Amatic SC", cursive;
